body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/66/59/72/66597269fcb35e87be3004d45e357d3b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}

.vertical-center {
    background: rgb(255, 255, 255, 0.50);
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchContainer {
    width: 100vw;
}


#searchGreeting {
    padding-bottom: 3vh;
    text-align: center;
    font-size: 130%;
    font-weight: bold; 
}

#filterBox {
    padding-top: 5vh;
    font-weight: normal;
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sel1 {
    width: 100px;
    height: 28px;
    font-size: 60%;
}


#createJumbo {
    background: rgb(255, 255, 255, 0.75);
}

#listJumbo {
    background: rgb(255, 255, 255, 0.75);
}

#deleteJumbo {
    background: rgb(255, 255, 255, 0.75);
}

#detailsJumbo {
    background: rgb(255, 255, 255, 0.75);
}

#editJumbo {
    background: rgb(255, 255, 255, 0.75);
}


#indexLink {
    color: gray;
    font-size: 14pt
}

#indexLink:hover {
    color: #666;
    text-decoration:none;

}

#darkLink {
    color: cornflowerblue;
    font-size: 14pt
}

#darkLink:hover {
    color: darkslateblue;
}

#indexLinkSpan {
    position: relative;
    top:12px;
}

#navbarRight{
    position: relative;
    right: 20px;
}

hr {
    border: none;
}

.Row {
    display: table;   
    border-spacing: 0px; 
    width: auto;
}

.Column {
    display: table-cell;
    padding: 5px;
    width: auto;
}

.searchColumn {
    width: 50vw;
}

#filterText {
    font-size: 75%;
}

#rentFilters {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#rentCheck {    
    margin-left: 21vw;
}

#onPageFilter {
    width: 200px;

}

.inlineFormInput {
    width: 200px;
}
