@{
    ViewBag.Title = "Property Owner";
}


<div class="col-xs-12" style="height: 20vh;"></div>


<div class="jumbotron vertical-center" id="indexJumbo">
	<div class="container" id="searchContainer">
		<div class="row">
            <p id="searchGreeting">Welcome! What would you like to do?</p>
		</div>
		<div class="row">
			<div id="custom-search-input">
				<div class="input-group col-md-12">
					<input type="text" class="btn btn-primary" placeholder="Your Details" />
                    <input type="text" class="btn btn-primary" placeholder="Owned Properties" />
                </div>
                <div class="row">
                    <div class="input-group col-md-12">
                        <input type="text" class="btn btn-primary" placeholder="View Tenants" />
                        <input type="text" class="btn btn-primary" placeholder="Assign Manager" />
                    </div>
				</div>
			</div>
		</div>                      
        <div class="row">
        <p id="searchGreeting">Your Owned Properties.</p>
        </div>
		<div class="panel" id="panelForm">                        
            <select class="form-control" id="panel1">
                <option> The Place</option>
            </select>  
        </div>
    </div>
</div>





