@{
    ViewBag.Title = "Staff";
}


<div class="col-xs-12" style="height: 20vh;"></div>


<div class="jumbotron vertical-center" id="indexJumbo">
	<div class="container" id="searchContainer">
		<div class="row">
            <p id="searchGreeting">Get to work.</p>
		</div>
		<div class="row">
			<div id="custom-search-input">
				<div class="input-group col-md-12">
					<input type="text" class="btn btn-primary" placeholder="Staff Details" />
                    <input type="text" class="btn btn-primary" placeholder="Authorize User" />
                </div>
                <div class="row">
                    <div class="input-group col-md-12">
                        <input type="text" class="btn btn-primary" placeholder="Review Inspection" />
                        <input type="text" class="btn btn-primary" placeholder="Create Inspection" />
                    </div>
				</div>
			</div>
		</div>  
    </div>    
    <div class="row">
        <p id="searchGreeting">Your Managed Properties.</p>
    </div>
	<div class="panel" id="panelForm">                        
        <select class="form-control" id="panel1">
            <option> The Place</option>
        </select>  
    </div>
</div>






