@{
    ViewBag.Title = "Tenant ";
}


<div class="col-xs-12" style="height: 20vh;"></div>


<div class="jumbotron vertical-center" id="indexJumbo">
	<div class="container" id="searchContainer">
		<div class="row">
<p id="searchGreeting">Your Profile.</p>
		</div>
		<div class="row">
			<div class="input-group col-md-12">
<p id="managerGreeting">Name:</p>
<p id="managerGreeting">Occupation:</p>
<p id="managerGreeting">Age:</p>
<p id="managerGreeting">Phone Number:</p>
<p id="managerGreeting">Email Address:</p>
</div>
				<div class="input-group col-md-12">
					<input type="text" class="btn btn-primary" placeholder="Update Details" />
<input type="text" class="btn btn-primary" placeholder="Your Lease" />
<div class="row">
<div class="input-group col-md-12">
<input type="text" class="btn btn-primary" placeholder="Watchlist" />
<input type="text" class="btn btn-primary" placeholder="Waitlist" />
</div>
					@*<span class="input-group-btn">
					    <button class="btn btn-success" type="button">
					        <span class="glyphicon glyphicon-search"></span>
					    </button>
					</span>*@
				</div>
			</div>
		</div>    
        @* search box ends here *@                        
    <div class="row">
<p id="managerGreeting">Properties you have rented.</p>
    </div>
				<div class="panel" id="panelForm">                        
                        <select class="form-control" id="panel1">
<option> Old Homes</option>
                        </select>  
</div>
<div class="row">
<p id="managerGreeting">Properties applied for.</p>
    </div>
				<div class="panel" id="panelForm">                        
                        <select class="form-control" id="panel1">
<option> New Homes</option>
                        </select>  
</div>
</div>





